
@keyframes background-color-fade {
  0% {
    background-color: #000;
  }
  
  50% {
    background-color: #1c1c1c;
  }
  
  100% {
    background-color: #000;
  }
}

body {
  animation: background-color-fade 10s linear infinite;
  color: #fff;
}



.token.api-class {
  color:red;
}
