* {
  box-sizing: border-box;
}

body {
  font-family:"Avenir" "Shorai Sans";
}

.light {
  color:#000;
  background-color:#fff;
}

.dark {
  color:#fff;
  background-color:#222;
}

.main {
  padding:1rem;
}

.light h2 {
  padding:0.3rem;
	font-size:1.6rem;
  border-bottom:solid light-dark(teal,green) 0.1rem;
  margin:1rem;
  margin-left:0;
}

.dark h2 {
  padding:0.3rem;
  font-size:1.6rem;
  border-bottom:solid green 0.1rem;
  margin:1rem;
  margin-left:0;
}

h2::after {
  content: "\A";
  white-space: pre;
}

h3 {
  padding:0.2rem;
  font-size:1.2rem;
  margin:0.5rem;
  margin-left:0;
}

h3::after {
  content:"\A";
  white-space:pre;
}


.light ul {
  background-color:#eee;
  border:solid #ddd 0.1rem;
  margin:0.4rem;
  padding-top:1.3rem;
  padding-bottom:1.3rem;
}

.dark ul {
  background-color:#333;
  border:solid #777 0.1rem;
  margin:0.4rem;
  padding-top:1.3rem;
  padding-bottom:1.3rem;
}

h1 {
  font-size: 1.8rem;
}


header {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000;
  animation: background-color-fade 30s linear infinite;
}

@keyframes background-color-fade {
  0% {
    background-color: #5585ff;
  }
  
  50% {
    background-color: #aaccff;
  }
  
  100% {
    background-color: #5585ff;
  }
}
